name: clang-tidy

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3

    - name: Create build directory
      run: mkdir build

    - name: Setup MSVC
      uses: ilammy/msvc-dev-cmd@v1
      
    - name: Build Catch2
      run: cl /std:c++20 /EHsc /c catch/catch_amalgamated.cpp /Fobuild\catch.obj

    - name: src/*
      run: .\cti.bat *
      shell: cmd

    - name: src/algo-data/*
      run: .\cti.bat algo-data\*
      shell: cmd